@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url('/assets/fonts/rubik-var.woff2') format('woff2');
  }

html {
    font-family: 'Rubik', sans-serif;
    background: #1C1C1C;
    color: rgba(255,255,255,.75);
}

p {
    font-size: 1.2rem;
    margin-bottom: .75rem;
}

:root {
    --container: 1080px;
    --navHeight: 3rem;

    --dark: #1C1C1C;
    --pink: #C6379C;
    --blue: #3C65AA;
}



.container {
    max-width: var(--container);
    margin: auto;
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-top: 1px solid rgba(255,255,255,.1);
        p {
            font-size: 1rem;
        }
        .footer-menu {
            display: flex;
            li {
                margin-right: 1.5rem;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 500;
                    letter-spacing: .4px;
                    font-size: .8rem;
                    opacity: .5;
                    transition: .3s;
                    &:hover {
                        opacity: 1;
                        transition: .5s;
                    }
                }
            }

        }
        .logo-wrapper {
            display: flex;
            align-items: bottom;
            opacity: .7;
            span {
                font-size: .8rem;
                opacity: .4;
                margin-right: .75rem;

            }
            img {
                height: 1rem;
                filter: grayscale(100%);
                object-fit: contain;
                margin-top: -1px;
            }
        }

    }
}

.cta {
    a {
        background: linear-gradient(to bottom right, var(--pink), var(--blue));
        background-size: 200%;
        background-position: left;
        transition: .5s;
        padding: 10px 24px;
        border-radius: 10px;
        color: rgba(255,255,255,.8);
        &:hover {
            background-position: right;
            transition: .5s;
            color: rgba(255,255,255,1);
        }
        button {
            font-weight: 500;
            letter-spacing: .4px;
        }
    }

}

.h2 {
    font-size: 2.75rem;
    margin-bottom: 1rem;
    font-weight: 600;
    opacity: .6;
}

.h3 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: .75rem;
    font-weight: 500;
    opacity: .5;
}

.h4 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-weight: 500;
    opacity: .5;
}

.h5 {
    font-size: 1.25rem;
    margin-top: 1.3rem;
    margin-bottom: .5rem;
    font-weight: 500;
    opacity: .5;
}



#main-nav {
    position: sticky;
    top: 0;
    z-index: 555;
    padding: 10px 0;
    background: var(--dark);
    transition: .5s;
    &.scrolled {
        box-shadow: 0 0 10px rgba(255,255,255, .05);
        transition: 1s;
    }
    .container {
        display: flex;
        justify-content: space-between;
        height: var(--navHeight);
        position: relative;
    }
    .logo {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        max-width: 5rem;
        cursor: pointer;
        img {
            max-height: 80%;
            object-fit: contain;
        }
    }
    .menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: auto;
        a {
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
            font-weight: 500;
            opacity: .65;
            letter-spacing: .4px;
            transition: .3s;
            &:hover {
                opacity: 1;
                transition: .5s;
            }
        }
    }
    .cta {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        a {
            padding: 8px 24px;
        }
    }
}