---
layout: base
cssFiles: 
    - slick.css
    - home.css
jsFiles:
    - slick.js
    - home.js
---
{% assign lang = page.url | replace:'/',' ' | truncatewords: 1,"" %}
{% assign file = site.data[lang].home %}
{% assign nav = site.data[lang].nav %}
<main>
<section id="hero">
    <div class="container">
        <article>
        <h1 class="h1">{{ file.content.header.title }}</h1>
        <p class="subtitle">{{ file.content.header.subtitle }}</p>
        <div class="button-wrapper cta">
            <a  href="mailto:{{ site.data.general.contact }}" target="_blank">
            <button type="button">
                {{ nav.contact.button }}
            </button>
            </a>
        </div> 
    </article>
    <div class="visual">
        <img src="/assets/img/vk-avatar.png" alt="viktoria" />
    </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <article>
        <h2 class="h2">{{ file.content.about.title }}</h2>
        {% for p in file.content.about.p %}
            <p>{{ p }}</p>
        {% endfor %}
        </article>

    </div>
</section>

<section id="languages">
    <div class="icon-slider">
        {% for icon in site.data.general.icons %}
        <div class="icon">
            <img src="/assets/img/{{ icon }}.png" alt="{{ icon }}" />
        </div>
       {% endfor %} 
    </div>
    <div class="container">
        <article>
            <h2 class="h2">{{ file.content.languages.title }}</h2>
        </article>
        <article>

            {% for p in file.content.languages.p %}
            <p>{{ p }}</p>
        {% endfor %}
        </article>
        <article class="skills">
            {% for skill in file.content.skills %}
            <div class="skill">
                <h3>{{ skill[0] }}</h3>
                <div class="level">
                    {% for point in (1..skill[1])  %}
                    <div class="point"></div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </article>
    </div>

</section>
<section id="projects">
    <div dir="rtl" class="project-slider">
        {% for project in site.data.general.projects %}
        <div class="project">
            <a href="{{ project.url }}" target="_blank">
                <img src="/assets/img/{{ project.slug }}.jpg" alt="{{ project.title }}" />
            </a>
        </div>
        {% endfor %} 
    </div>
    <div class="container">
        <article>
            <h2 class="h2">{{ file.content.projects.title }}</h2>
                <p>{{ file.content.projects.p }}</p>
            </article>
    </div>
</section>  
<section class="call-to-action">
    <div class="container">
        <article>
            <h2 class="h2">{{ file.content.cta.title }}</h2>
            {% for p in file.content.cta.p %}
                <p>{{ p }}</p>
            {% endfor %}

            <div class="button-wrapper cta">
                <a  href="mailto:{{ site.data.general.contact }}" target="_blank">
                <button type="button">
                    {{ nav.contact.button }}
                </button>
                </a>
            </div>
        </article>
        <div class="gif-wrapper">
            <img src="/assets/img/qr-code.gif" alt="viktoria" />
        </div>
    </div>
</section>
</main>